page-basket {
    .scroll-content{
        overflow-y: hidden;
    }
    .item .item-block .item-md,
    .item .item-block .item-ios{
        padding-right: 15px;
    }
    .block-with-text {
        /* for set '...' in absolute position */
        position: relative; 
        /* use this value to count block height */
        line-height: 1.2em;
        /* max-height = line-height (1.2) * lines max number (3) */
        max-height: 3.6em; 
        /* fix problem when last visible word doesn't adjoin right side  */
        text-align: justify;  
        /* place for '...' */
        margin-right: -1em;
        padding-right: 1em;
        margin: 0px 0px 0px 0px;
        height: 36px;
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        color:#60665A;
        text-align: justify;
        white-space: normal;
      }
      /* create the ... */
      .block-with-text:before {
        /* points in the end */
        content: '...';
        /* absolute position */
        position: absolute;
        /* set position to right bottom corner of block */
        right: 0;
        bottom: 0;
      }
      /* hide ... if we have text, which is less than or equal to max lines */
      .block-with-text:after {
        /* points in the end */
        content: '';
        /* absolute position */
        position: absolute;
        /* set position to right bottom corner of text */
        right: 0;
        /* set width and height */
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        /* bg color = bg color under block */
        background: white;
      }  
      .item-ios,.item-md{
          padding-left: 5px;
          padding-right: 15px;
          
      }
      .item-md.item-block .item-inner {
          padding-right: 0px;
      }           
      .label-md,.label-ios{
          margin: 0px;
      }   
      .text-input-md,
      .text-input-ios{
        margin: 0px;
      }
      .radio-md .radio-icon{
        left: 0;
        top: 0;
        margin: 0;
        border-radius: 0%;
        position: relative;
        display: block;
        width: 15px;
        height: 15px;
        border-width: 0px;
        border-style: unset;
        background-color: #F2F2F2;
    }
    .radio-md .radio-inner {
        background-color: unset;
        border-radius: 0%;
        left: 6px;
        top: 0px;
    }
    .radio-ios .radio-icon{
        background-color: #F2F2F2;
        width: 15px;
        height: 15px;
        
       
    }
    
    .radio-md .radio-checked .radio-inner{
        position: absolute;
        width: 5px;
        height: 12px;
        border-width: 2px;
        border-top-width: 0;
        border-left-width: 0;
        border-style: solid;
        border-color: #007D69;
        transform: rotate(45deg);
    }
    .radio-ios .radio-checked .radio-inner {
        left: 6px;
        top: 0px;
             }
    .mainContent{
        
        background: repeating-linear-gradient(
            90deg,
            #F4F2F2,
            #F4F2F2 25px,
            #F7F7F7 25px,
            #F7F7F7 50px
            );
            .header{
                z-index: 111111;
                position: relative;
                // margin-top: 36px;
                display: flex;
                // align-items: flex-end;
                flex-direction: column;
                background-color: white;
                height: 76px;
                width: 100%;
               .h1{
                width: 100%;
                height: 65%;
                display: flex;
                .h11{
                    height: 100%;
                    width: calc(80% - 15px);
                    margin-left: 15px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                }
                .h12{
                    width: calc(20% - 15px);
                    height: 100%;
                    display: flex;
                    margin-right: 15px;
                    justify-content: flex-end;
                    align-items: center;
                    img{
                        height: 35px;
                        width: 35px;
                    }

                }
               }
               .h2{
                height: 35%;
                width: 100%;
                display: flex;
                align-items: center;
                padding: 0px 15px;
                font-size: 1.2rem;
                font-weight: bold; 
                justify-content: space-between;
                
                .h21{
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    width: 35%;
                    color: #212C32;
                }
                .h22{
                    height: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-start;
                    width: 65%;
                    color: #212C32;
                }
                .pagos{
                    padding: 2px 8px;
                    &.active{
                        background-color: #212C32;
                        color: white;
                        border-radius: 15px;
                    }
                }
               }
            }
            .body{
                height: calc(100% - 156px);
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                color: #60665A;
                font-weight: 500;
                flex-direction: column;  
                position: relative;
                .pagoList{
                    
                    top: 0;
                    z-index: 11111;
                    width: 100%;
                    height: calc(100% + 86px);
                    background-color: rgba(0,0,0,0);
                    position: absolute;
                    opacity: 1;
                    pointer-events: none;
                    transition: background-color 200ms 200ms ease-in ;
                    .whiteHeader{
                        min-height: 20%;
                        width: 100%;
                        background-color: white;
                        border-radius: 0px 0px 25px 25px;
                        position: relative;
                        transform: translateY(-100%);
                        transition: transform 400ms ;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        ion-list{
                            padding-bottom: 20px;
                            // width: 100%;
                            ion-item{
                                min-height: 36px;
                                width: 100%;
                                padding: 0px;
                                .item-inner{
                                    padding: 0px;
                                }
                            }
                                    
                        }
                        .buttonAdd{
                            // position: absolute;
                            // bottom: 10px;
                            width: 50%;
                            left: 50%;
                            margin-left: -25%;
                            height: 25px;
                            border-radius: 25px;
                            font-size: 1.2rem;
                            // font-weight: bold;
                            color: #60665A;
                            
                            // background-color: #60665A;
                            ion-icon{
                                padding-right:  5px;
                            }
                        }
                        .buttonAceptar{
                            position: absolute;
                            bottom: 10px;
                            width: 50%;
                            left: 50%;
                            margin-left: -25%;
                            height: 25px;
                            border-radius: 25px;
                            font-size: 1.2rem;
                            font-weight: bold;
                        }
                    }
                    &.active{
                        background-color: rgba(0,0,0,0.2);
                        pointer-events: all;
                        transition: background-color 200ms 200ms ease-in ;
                        .whiteHeader{
                            transform: translateY(0%);
                            transition: transform 400ms ;
                        }
                    }
                }
                .b1{
                    width: 100%;
                    background-color: white;
                    .b11{
                        height: 56px;
                        width: 100%;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        span{

                        }
                        .b11r{
                            height: 15px;
                            width: 15px;
                            background-color: #F2F2F2;
                        }
                    }
                }
            }
            .footer{
                position: relative;
                height: 86px;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                    background: repeating-linear-gradient(
                        90deg,
                        #F4F2F2,
                        #F4F2F2 25px,
                        #F7F7F7 25px,
                        #F7F7F7 50px
                        );
                   
                    border-top: 0;
                    justify-content: space-around;
                    &::after{
                        content: '';
                        position: absolute;
                        height: 46px;
                        width: 95%;
                        border-radius: 0 0 25px 25px;
                        background-color: #212C32;
                        top: 50%;
                        box-shadow: 0px 0px 10px -5px;
                        margin-top: -23px;
                        z-index: -1;
                        left: 50%;
                        margin-left: -47.2%;
                        z-index: 1111;
                    }
                .f1{
                    z-index: 11111;
                    width: 95%;
                    height: 20px;
                    color:white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.8rem;
                    font-weight: 500;
                }
                
            }
    }
}
