tabs-page{
    /* custom tabs icons general class */
    .tabbar, .tabs-ios, .tabs-md , .tabs-wp{
        .tab-button-icon {
            background-repeat:no-repeat;
            background-position:center;
            height:20px;
            width:20px;
            background-size:contain;
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain;
            
            &:before {
                display:none;
            }
        }
    }
    /* tabs styles */
    
    .tabs-md, .tabs-ios  {
        .tabbar{
            background: repeating-linear-gradient(
                90deg,
                #F4F2F2,
                #F4F2F2 25px,
                #F7F7F7 25px,
                #F7F7F7 50px
                );
            height: 76px;
            border-top: 0;
            justify-content: space-around;
            &::after{
                content: '';
                position: absolute;
                height: 46px;
                width: 95%;
                border-radius: 0 0 25px 25px;
                background: rgba(255,255,255,0.5);
                top: 50%;
                box-shadow: 0px 0px 10px -5px;
                margin-top: -23px;
                z-index: -1;
                left: 50%;
                margin-left: -47.2%;
            }
        }
    }
    .tabs-md[tabsLayout=icon-hide] .tab-button, .tabs-md[tabsLayout=title-hide] .tab-button, .tabs-md .tab-button.icon-only, .tabs-md .tab-button.has-title-only {
        padding: 0px;
    }
    .tabs-md, .tabs-ios {
       
        .tab-button[aria-selected=false] {
            // border: 5px solid color($colors, light);
            max-height: 56px;
            max-width: 56px;
        }
        .tab-button[aria-selected=true] {
            color: color($colors, dark);
            // background-color: color($colors, primary);
            padding: 0;
            height: 100%;
            width: 100%;
            max-height: 56px;
            max-width: 56px;
            // border: 5px solid color($colors, dark);
            border-radius: 50%;
            font-weight: bold;
            animation: tabs 200ms linear;
        }
        .tab-button[aria-selected=true] .tab-button-icon {
            color: color($colors, dark);
            -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
        }
        .tab-button {
            min-height: 5.6rem;
            font-weight: normal;
            color: color($colors, dark);
            padding: 0;
        }
        .tab-button-icon {
            margin-top: 1px;
            min-width: 3.5rem;
            font-size: 3.5rem;
            color: color($colors, dark);
            -webkit-transition: -webkit-transform 0.3s ease-in-out;
            transition: -webkit-transform 0.3s ease-in-out;
            transition: transform 0.3s ease-in-out;
            transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
            -webkit-transform-origin: 50% 150%;
            transform-origin: 50% 150%;
        }
    }
    /* custom tabs icons for IOS */
    .tabs-ios, .tabs-md {
        a[aria-selected=false] {
            .tab-button-icon[ng-reflect-name=account],
            .tab-button-icon[aria-label="account"] {
                background-image: url(../assets/imgs/account.svg);
                
            }
            .tab-button-icon[ng-reflect-name=heart],
            .tab-button-icon[aria-label="heart"] {
                background-image: url(../assets/imgs/heart.svg);
                
            }
            .tab-button-icon[ng-reflect-name=search],
            .tab-button-icon[aria-label="search"] {
                background-image: url(../assets/imgs/search.svg);
                
            }
            .tab-button-icon[ng-reflect-name=home],
            .tab-button-icon[aria-label="home"] {
                background-image: url(../assets/imgs/home.svg);
               
            }
            .tab-button-icon[ng-reflect-name=basket],
            .tab-button-icon[aria-label="basket"] {
                background-image: url(../assets/imgs/basket.svg);
               
                    height:36px;
                    width:36px;
                
            }
        }
        a[aria-selected=true] {
            .tab-button-icon[ng-reflect-name=account],
            .tab-button-icon[aria-label="account"] {
                background-image: url(../assets/imgs/accountGreen.svg);
                
            }
            .tab-button-icon[ng-reflect-name=heart],
            .tab-button-icon[aria-label="heart"] {
                background-image: url(../assets/imgs/heartGreen.svg);
                
            }
            .tab-button-icon[ng-reflect-name=search],
            .tab-button-icon[aria-label="search"] {
                background-image: url(../assets/imgs/searchGreen.svg);
                
            }
            .tab-button-icon[ng-reflect-name=home],
            .tab-button-icon[aria-label="home"] {
                background-image: url(../assets/imgs/homeGreen.svg);
               
            }
            .tab-button-icon[ng-reflect-name=basket],
            .tab-button-icon[aria-label="basket"] {
                background-image: url(../assets/imgs/basket.svg);
                height:36px;
                width:36px;
            }
        }
    }
   
      
    /* custom tabs icons for Android */
    .ios ion-nav>.ion-page>.toolbar.statusbar-padding:first-child,
    .ios ion-nav>.ion-page>ion-header>.toolbar.statusbar-padding:first-child,
    .ios ion-tab>.ion-page>.toolbar.statusbar-padding:first-child,
    .ios ion-tab>.ion-page>ion-header>.toolbar.statusbar-padding:first-child,
    .ios ion-tabs>.ion-page.tab-subpage>ion-header>.toolbar.statusbar-padding:first-child,
    .ios ion-menu>.menu-inner>.toolbar.statusbar-padding:first-child,
    .ios ion-menu>.menu-inner>ion-header>.toolbar.statusbar-padding:first-child{
        padding-top: 0px;
    }

}