<ion-content class="mainContent">
  
  <div class="header" >
    <div class="h h1">
      <div>
        <ion-icon navPop style="padding-right:15px; color: #BF2708;" name="arrow-back"></ion-icon>
        <span>Ristorante Name</span>
      </div>
      <div style="    display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;"> 
        <ion-icon style="font-size:1.5rem;  color:#EA8A04;" name="star"></ion-icon>
        <ion-icon style="font-size:1.5rem;  color:#EA8A04;" name="star"></ion-icon>
        <ion-icon style="font-size:1.5rem;  color:#EA8A04;" name="star"></ion-icon>
        <ion-icon style="font-size:1.5rem;  color:#CBCCCA;" name="star"></ion-icon>
        <ion-icon style="font-size:1.5rem;  color:#CBCCCA;" name="star"></ion-icon>
      </div>
    </div>
  </div>
  <ion-scroll #scroll scrollY='true' style="height:calc(100% - 36px); width:100%; " (ionScroll)="onScroll($event)">
    <div class="headerScrollRestaurante" >
    <div class="h h2">
      <div class="innerH2">
      <div class="footer"></div>  
      <img src="assets/imgs/test.png" alt="">
      </div>
      <div class="h22">
          <div style="color:white; height: 15px;">88:88 a.m. - 88:88 p.m. </div>
          <div class="rh333">
            <img src="assets/imgs/time.svg" alt="">
            <span>88m</span>
            <img src="assets/imgs/motoGreen.svg" alt="">
            <span>L.88</span>
          </div>
        </div>
    </div>
    <div class="h h3">
      <div class="lh3">
        <img src="assets/imgs/test.png" alt="">
      </div>
      <div class="rh3">
      
      
        <div class="lh33">
            <div style="color:#60665A" class="lh333">Esta es la dirección del restaurante en x ciudad</div>
          </div>
      </div>
    </div>
    <div id='sideScrollRestaurant' class="h h4 activeLeft" >
        <ion-scroll id='restaurantScroll' #sideScroll scrollX="true">
            <div [class.active]="categoria.active" class="category" *ngFor="let categoria of categorias" (click)='categoryClick(categoria)'>
              {{categoria.name}}
            </div>
          </ion-scroll>
     </div>
  </div>
  <div class="body" >
      <div class="headerBody">
          <div class="h11">
              <div style="    
              width: calc(100% - 30px);
          display: flex;
          align-items: center;">
              <span style="font-size:1.8rem; font-weight: bold;">Menu</span>
              </div>
              <ion-input *ngIf='this.searchIsActive' style="
                  height: 30px;
                 
                  width: 100%;
                  border-radius: 30px;
                  color: white;
                  margin-right: 15px;
                  position: absolute;
                  top: 50%;
                  margin-top: -15px;
                  padding-right: 15px;
                  z-index: 111;
                  ">  </ion-input>
              <div class="searchBar" (click)="clickSearch()"  [class.active]="this.searchIsActive">
                <ion-icon class="searchIcon"   name="search"></ion-icon>
                <ion-icon  class="closeIcon" name="md-close"></ion-icon>
              </div>
             </div>
          <!-- <div style="    width: 90%;
          height: 100%; display: flex; align-items: center;" >
           
           
          </div>
          <div style="    width: 25px;
          height: 25px; display: flex; align-items: center;  justify-content: center;
          border-radius: 50%;
          background-color: gray; 
          color: white; 
          align-self: center;">
            <ion-icon  name="search"></ion-icon>
          </div> -->
         </div>
         <ion-scroll id='innerScrollRestaurant'>
            <div class="itemBody" *ngFor="let item of items" (click)=goDeep(item)>
              <div class="innerContainer">
             
              <div style="height: 100%;
              width: calc(67% - 56px)">
                <div style="display: flex;
                flex-grow: 1;
                justify-content: space-between;
                align-items: flex-start;
                height: 15px;
                margin: 10px 0px 5px 0px;">
                  <div style="font-size:1.3rem; font-weight:500; ">{{item.name}}</div>
                 
                </div>
                <div class="block-with-text" >{{item.description}}</div>
              </div>
              <div  *ngIf="true" style="height: 100%;
              width: 56px;
              display: flex;
              justify-content: center;
              align-items: center;">
                  <img style="width:100%; height: 56px; border-radius: 5px; " src="{{item.imageUrl}}" alt="">
              </div>
              <div style="height: 100%;
              width: 33%;
              position: relative;
              display: flex;
              justify-content: center;
              padding: 10px 15px 10px 0px;
              flex-direction: column;"
              > 
              <div style="    width: 100%;
              height: 35%;
              justify-content: flex-end;
              position: relative;
              display: flex;
              align-items: flex-end;">
                <img style="width:25%; margin-left: 10px; height: 85%;" [src]="item.favorite? 'assets/imgs/fullGreenHeart.svg':'assets/imgs/heartBlackB.svg'" alt="" (click)='heartClick($event,item)'>
                <img style="width:25%; margin-left: 10px; height: 100%;" src="assets/imgs/basket.svg" alt="" (click)='especialClick($event,item)'>
              </div>
              <div style="width: 100%;
              height: 65%;
              display: flex;
              justify-content: flex-end;
              align-items: flex-end;
              font-size: 1.6rem;">
                <span style="color:#007D69; font-size: 0.5rem;">lps.</span>
                <span>88,888</span>
                <span style=" font-size: 0.5rem;     padding-bottom: 10px;">88</span>
              </div>
            </div>
            </div>
              
            </div>
          </ion-scroll>
  </div>
  </ion-scroll>
</ion-content>
