page-home {
    
    .mainContent{
        
        background: repeating-linear-gradient(
            90deg,
            #F4F2F2,
            #F4F2F2 25px,
            #F7F7F7 25px,
            #F7F7F7 50px
            );
            .header{
                margin-top: 76px;
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                background-color: white;
                height: calc(60% - 76px);
                width: 100%;
                .h{
                    position: relative;
                    display: flex;
                    width: 100%;
                    &.h1{
                        position: fixed;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0px 15px 0px 15px;
                        font-size: 1.5rem;
                        height: 36px;
                        background-color: white;
                        font-weight: 500;
                        top: 0;
                        z-index: 1111;
                    }
                    &.h2{
                        padding: 0px 15px 0px 15px;
                        position: fixed;
                        top: 36px;
                        height: 40px;
                        background-color: white;
                        z-index: 1111;
                       
                        display: flex;
                        justify-content: space-around;
                        ion-scroll{
                            position: relative;
                            height: 100%;
                            width: 100%;
                            .scroll-zoom-wrapper{
                                display: flex;
                                align-items: center;
                                height: 100%;
                            .category{
                                display: flex;
                                justify-content: center;
                                // align-items: center;
                                height: 60%;
                                font-weight: 500;
                                margin-right: 5px;
                                padding: 2px 8px 2px 8px;
                               &.active{
                                    background-color: #007D69;
                                    border-radius: 25px;
                                    color: white;                            
                               }
                            }
                        }
                        }
                    }
                    &.h3{
                        position: relative;
                        height: 87%;
                        background-color: white;
                        justify-content: space-around;
                        .slideLayout{
                            border-radius: 25px 25px 0px 0px;
                            background-color: wheat;
                            width: calc(100% - 30px)!important;
                            margin: 0px 15px 0px 15px;
                        }
                    }
                    &.h4{
                        position: relative;
                        height: 13%;
                        background-color: white;
                        display: flex;
                        
                        .lh4{
                            padding-left: 15px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            height: 100%; 
                            width:40%;
                            font-size: 1.8rem;
                            font-weight: bold;
                        }
                        .rh4{
                            padding-right: 15px;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            height: 100%; 
                            width:60%;
                            font-size: 1rem;
                            color: #007D69;
                        }
                    }
                 
                }
            }
            .body{
                height: calc(100% - 76px);
                width: 100%;
                ion-scroll{
                    height: 90%;
                    width: 100%;
                }
                .headerBody{
                    height: 10%;
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    padding-left: 30px;
                    font-size: 1.8rem;
                    font-weight: bold;
                    padding-bottom: 10px;
                }
                .itemBody{
                    
                    background-color: white;
                    height: 76px;
                    margin-bottom: 5px;
                    width: 100%;
                    display: flex;
                    .innerContainer{
                        padding-left: 30px;
                        display: flex;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
    }
}
