page-home {
    
    .mainContent{
        
        background: repeating-linear-gradient(
            90deg,
            #F4F2F2,
            #F4F2F2 25px,
            #F7F7F7 25px,
            #F7F7F7 50px
            );
            .header{
                margin-top: 76px;
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                background-color: white;
                height: calc(60% - 76px);
                width: 100%;
                .h{
                    position: relative;
                    display: flex;
                    width: 100%;
                    &.h1{
                        position: fixed;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0px 15px 0px 15px;
                    
                        height: 46px;
                        background-color: white;
                        
                        top: 0;
                        z-index: 1111;
                    }
                    &.h2{
                        padding: 0px 15px 0px 15px;
                        position: fixed;
                        top: 46px;
                        height: 30px;
                        background-color: white;
                        z-index: 1111;
                       
                        display: flex;
                        justify-content: space-around;
                        ion-scroll{
                            position: relative;
                            height: 100%;
                            width: 100%;
                            .scroll-zoom-wrapper{
                                display: flex;
                                align-items: center;
                                height: 100%;
                            .category{
                                margin-left: 5px;
                               
                            }
                        }
                        }
                    }
                    &.h3{
                        position: relative;
                        height: 87%;
                        background-color: white;
                        justify-content: space-around; 
                        .slideLayout{
                            border-radius: 25px 25px 0px 0px;
                            background-color: wheat;
                            width: calc(100% - 30px)!important;
                            margin: 15px;
                        }
                    }
                    &.h4{
                        position: relative;
                        height: 13%;
                        background-color: white;
                        display: flex;
                        
                        .lh4{
                            padding-left: 15px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            height: 100%; 
                            width:50%;
                            font-size: 1.8rem;
                        }
                        .rh4{
                            padding-right: 15px;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            height: 100%; 
                            width:50%;
                            font-size: 1rem;
                        }
                    }
                 
                }
            }
            .body{
                height: calc(100% - 76px);
                width: 100%;
            }
    }
}
