page-favorites {
    .scroll-content{
        overflow-y: hidden;
    }
    .main-content{
        background: repeating-linear-gradient(
            90deg,
            #F4F2F2,
            #F4F2F2 25px,
            #F7F7F7 25px,
            #F7F7F7 50px
            );
        .headerTop{
            height: 56px;
            width: 100%;
            display: flex;
            align-items: flex-end;
            padding-left: 30px;
            font-size: 1.8rem;
            font-weight: bold;
            padding-bottom: 10px;
            background-color: white;
           
        }
        .body{
            height: calc(100% - 56px);
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .bodyHeader{
                height: 20%;
                width: 100%;
                
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                ion-scroll{
                    height: 100%;
                    width: 100%;
                }
                .scroll-content{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    justify-content: flex-start;
                }
                .scroll-zoom-wrapper{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }
                .imgContainer{
                    height: 56px;
                    width: 56px;
                    margin: 0px 10px;
                    // overflow: hidden;
                    z-index: 1111;
                    position: relative;
                    img{
                        position: relative;
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                        z-index: 1111;
                    }
                    &::after{
                       content: '';
                       height: 66px;
                       width: 66px;
                       z-index: 111;
                       border-radius: 50%;
                       background-color: white;
                       position: absolute;
                       top: 50%;
                       margin-top: -33px;
                       left: 50%;
                       margin-left: -33px;
                    }
                }
            }
            .bodyContainer{
                background-color: white;
                height: 80%;
                width: 100%;
                ion-scroll{
                    height: 100%;
                    width: 100%;
                }
                .foodContainer{
                    padding: 0px 10px;
                    height: 35vh;
                    width: 100%;
                    // background-color: white;
                    .header{
                        display: flex;
                        font-size: 1.5rem;
                        justify-content: space-between;
                        align-items: center;
                        font-weight: bold;
                        background-color: white;
                        height: 18%;
                        width: 100%;
                        span{
                            width: 90%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        ion-icon{
                            padding-right: 3px;
                        }
                    }
                    .body{
                        background-color: white;
                        height: 62%;
                        border-radius: 5px;
                        overflow: hidden;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-radius: 5px;
                        }
                    }
                    .footer{
                        background-color: white;
                        height:20% ;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        .price{
                            display: flex;
                            align-items: flex-end;
                            justify-content: flex-end;
                        }
                        img{
                            object-fit: cover;
                            width: 20px;
                            height: 20px;
                            margin-left: 10px;
                        }
                    }
                }
                
            }
        }
    }
}
