<ion-content class="mainContent">
    <div class="header" >
      <div class="h h1">
        <div style="white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;">
          <ion-icon navPop style="padding-right:15px; color: #BF2708;" name="ios-arrow-back"></ion-icon>
          <span>Dish Name</span>
        </div>
        <div style="    display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;"> 
          <ion-icon style="font-size:1.5rem;  color:#EA8A04;" name="star"></ion-icon>
          <ion-icon style="font-size:1.5rem;  color:#EA8A04;" name="star"></ion-icon>
          <ion-icon style="font-size:1.5rem;  color:#EA8A04;" name="star"></ion-icon>
          <ion-icon style="font-size:1.5rem;  color:#CBCCCA;" name="star"></ion-icon>
          <ion-icon style="font-size:1.5rem;  color:#CBCCCA;" name="star"></ion-icon>
        </div>
      </div>
      
    
    </div>
    <div class="body" >
        <div class="mainTitle">
            Personalizar
          </div>
      <ion-scroll scrollY="true" style="height: 100%; width:100%;">
       
       
        <div class="b1">
            <div class="title">Extras 1</div> 

        <ion-grid>
          <ion-row>
            <ion-col col-6 col-md-4 col-xl-3 *ngFor='let option of options' >
          <ion-item  no-lines style='min-width: 100px;'>
            <ion-label>{{option.name}}</ion-label>
            <ion-checkbox style="margin:0px;" item-right ></ion-checkbox>
          </ion-item>
        </ion-col>
        </ion-row>
        </ion-grid>
        
        
       
      </div>
        <div class="b1">
            <div class="title">Extras 2</div> 

            <ion-grid>
                <ion-row radio-group [(ngModel)]="this.option">
                    <ion-col style="flex-direction: row; display:flex;" col-6 col-md-4 col-xl-3 *ngFor='let option of options'>
                        <ion-label>{{option.name}}</ion-label>
                        <ion-radio [value]="option.name"></ion-radio>
                      </ion-col >
                  </ion-row>
                </ion-grid>
        </div>
        <div class="b1">
            <div class="title">Extras 3</div> 
            <ion-grid>
              <!-- <ion-row [(ngModel)]="this.option"> -->
                <ion-row >
                  <ion-col col-6 col-md-4 col-xl-3 *ngFor='let option of selecciones; let i = index;' >
                    <ion-item  no-lines>
                      <!-- <ion-label>{{option.name}} </ion-label> -->
                      <ion-select style="width:100%; max-width: 100%;" interface='popover' placeholder='{{option.name}}' [(ngModel)]="this.option.opciones[j]">
                          <ion-option *ngFor='let select of option.opciones; let j = index;'  [value]="select">{{select.name}}</ion-option>
                          
                        </ion-select>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
        <div class="b1">
            <div class="title">Extras 4</div> 
            <ion-item style="height:100%; width:100%;">
                <ion-range step='20' snaps="true" min='0' max='100' [(ngModel)]="step" color="primary" pin="true">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>100</ion-label>
                </ion-range>
            </ion-item>
        </div>
      </ion-scroll>
    </div>
    <div class="footer">
        <div style="    height: 40%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0px 15px;
        align-items: flex-end;">
        
           <div style="color: #212C32;
           text-align: end;
           font-weight: bold;
           font-size: 1.2rem;
           ">
             <span>TOTAL:</span>
           </div>
           <div style="    color: #212C32;
           font-size: 3rem;
           font-weight: bold;
           text-align: end;">
             <span style="font-size: 1rem;
             color: #00794E;
             font-weight: bold;
         ">Lps.</span>
             <span>8,888.88</span>
           </div>
        
       </div>
      <div class="f1" (click)='addToCart()'>
       <span>Añadir</span> 
      </div>
    </div>
</ion-content>
